extends ../layout

block content
  body.black
    .row
      center
        .col-sm-6.pull-left
          h4 Gallery Upload
          form.form-horizontal(role='form', enctype='multipart/form-data', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='type', value='gallery')
            .form-group
              br
              input(type='file', name='myFile')
              br
            .form-group
              label.col-sm-3.control-label(for='name') Title
              .col-sm-7
                input.form-control(type='text', name='name' maxlength='32')
            .form-group
              label.col-sm-3.control-label(for='description') Description
              .col-sm-7
                textarea#product.form-control(type='text', name='description' style='height:165px')
              br
            button#submit.btn.btn-secondary(type='submit')
              i.fa.fa-upload
              | Upload
            br
            br
          each image, index in galleryImages
            form(id='deletegallery' + index, method='POST', action='/deleteimage')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='image', value=image)
              input(type='hidden', name='folder', value='gallery')
              a(onclick='document.getElementById("deletegallery' + index + '").submit();')
                .col-sm-16.options.mini
                  img.mini.fade(src='/gallery/' + image)
                  p.imagetext X

      center
        .col-sm-6
          h4 Shop Upload
          form.form-horizontal(role='form', enctype='multipart/form-data', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='type', value='shop')
            .form-group
              br
              input(type='file', name='myFile')
              br
            .form-group
              label.col-sm-3.control-label(for='name') Title
              .col-sm-7
                input.form-control(type='text', name='name' maxlength='32')
            .form-group
              label.col-sm-3.control-label(for='price') Price
              .col-sm-7
                input.form-control(type='number', placeholder='0.00', name='price')
            .form-group
              label.col-sm-3.control-label(for='description') Description
              .col-sm-7
                textarea#product.form-control(type='text', name='description')
              br
            button#submit.btn.btn-secondary(type='submit')
              i.fa.fa-upload
              | Upload
            br
            br
          each image, index in shopImages
            form(id='deleteshop' + index, method='POST', action='/deleteimage')
              input(type='hidden', name='_csrf', value=_csrf)
              input(type='hidden', name='image', value=image)
              input(type='hidden', name='folder', value='shop')
              a(onclick='document.getElementById("deleteshop' + index + '").submit();')
                .col-sm-16.options.mini
                  img.mini.fade(src='/shop/' + image)
                  p.imagetext X
    hr

  h4 Social Media Info
  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='twitter') Twitter URL
      .col-sm-7
        input.form-control(type='text', name='twitter', id='twitter', value=twitter)
    .form-group
      label.col-sm-3.control-label(for='facebook') Facebook URL
      .col-sm-7
        input.form-control(type='text', name='facebook', id='facebook', value=facebook)
    .form-group
      label.col-sm-3.control-label(for='instagram') Instagram URL
      .col-sm-7
        input.form-control(type='text', name='instagram', id='instagram', value=instagram)
    .form-group
      .col-sm-offset-3.col-sm-4
        button#submit.btn.btn-secondary(type='submit')
          i.fa.fa-pencil
          | Update

    hr

  h4 Change Password
  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group
      .col-sm-offset-3.col-sm-4
        button#submit.btn.btn-secondary(type='submit')
          i.fa.fa-lock
          | Change Password
